@charset "UTF-8";

body {
  background-color: #E8E7E1 !important;
}

.function-button {
  background-color: #F7F7EF !important;
  padding: 10px 30px;
}

.function-button2 {
  background-color: #F7F7EF !important;
  border-top: #DD1122 1px solid;
  border-left: #DD1122 1px solid;
  border-bottom: #DD1122 2px solid;
  border-right: #DD1122 2px solid;
  padding: 10px 30px;
}

td {
  word-break: break-all;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: palevioletred !important;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: palevioletred !important;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: palevioletred !important;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: palevioletred !important;
}

input::placeholder,
textarea::placeholder {
  color: palevioletred !important;
}

/* 中デバイス（タブレット, 992px 未満） */

@media (max-width: 991.98px) {
  /* 操作 */

  .hs-md-th1 {
    width: 25% !important;
  }

  /* 社員コード */

  .hs-md-th2,
  .hs-md-th3 {
    width: 30% !important;
  }

  /* 社員名 */

  /* 部門 */

  .hs-md-th4 {
    width: 15% !important;
  }
}

.error {
  color: #DD1122;
}

#data-teble > thead > tr > th.table-text.hs-md-th1.sorting_asc::after {
  content: "" !important;
  cursor: none !important;
}

a[target="_blank"]:after {
  content: "\F08E";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  padding-left: 3px;
}

#dropdownMenuButton_login_user {
  border: none;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgba(0, 0, 0, 0.5);
}

#dropdownMenuButton_login_user:hover {
  color: rgba(0, 0, 0, 0.7);
}

